<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2023 COSCUP DEMO</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
      background-size: 200% 200%;
      animation: gradientAnimation 8s ease infinite;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
    }
    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    h1 {
      font-size: 36px;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>

  <script>
    function getRandomColor() {
      const letters = "0123456789ABCDEF";
      let color = "#";
      for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    function setRandomBackground() {
      const gradientStartColor = getRandomColor();
      const gradientEndColor = getRandomColor();
      document.body.style.backgroundImage = `linear-gradient(45deg, ${gradientStartColor}, ${gradientEndColor})`;
    }

    // Call the function when the page is first loaded
    setRandomBackground();
  </script>
</body>
</html>